In [3]:
from google.colab import files
f = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense, Flatten
from keras.wrappers.scikit_learn import KerasClassifier

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler

In [7]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [8]:
df.shape

(10000, 14)

In [20]:
df.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 13 columns]

In [0]:
Geography = {'France':0, 'Spain':1,'Germany':2}
df['Geography'] = [Geography[i] for i in df['Geography']]

In [0]:
sex = {'Female': 0, 'Male':1}
df['Gender'] = [sex[i] for i in df['Gender']]

In [0]:
X = df.iloc[:, 3:13].values
y = df.iloc[:, -1].values

In [23]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-0.32622142, -0.9025865 , -1.09598752, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.44003595,  0.301665  , -1.09598752, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.53679418, -0.9025865 , -1.09598752, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.60498839, -0.9025865 , -1.09598752, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.25683526,  1.50591651,  0.91241915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.46377078, -0.9025865 , -1.09598752, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [89]:
layers = [[32, 64, 256], [256, 62, 32]]

enumerate(layers)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
def create_model(layers,act):
  n_input = X_train.shape[1]
  model = Sequential()
  
  for i, layer in enumerate(layers):
        
    model.add(Dense(layer, input_shape = (n_input,), activation=act)),
    model.add(Dense(layer, activation=act)),
  
  model.add(Dense(1, activation='softmax'))
  
  model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
  return model

model = KerasClassifier(build_fn = create_model, verbose=0)

In [91]:
model

In [0]:
layers = [[32, 64, 256], [256, 64, 32], [64, 64, 64]]
activations = ['relu', 'sigmoid']


param_grid = dict(layers = layers, act = activations, batch_size = [128, 256], epochs=[5] )

grid = GridSearchCV(estimator = model, param_grid=param_grid)

In [98]:
grid_result = grid.fit(X_train , y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

In [99]:
grid_result.best_params_

{'act': 'relu', 'batch_size': 128, 'epochs': 5, 'layers': [32, 64, 256]}